parameters:
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/Resources/skeleton/Class.tpl.php
        - src/Resources/skeleton/Bpmn.tpl.php
    ignoreErrors:
        - identifier: missingType.iterableValue
