<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Element</directory>
      <directory suffix=".php">src/Ressources</directory>
    </exclude>
  </source>

  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests/</directory>
      <exclude>tests/Serializer/AbstractSerializerTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
